@import 'tailwindcss';

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-snow: #f5f5f8;
  --vt-c-dark-blue: #1b264f;
  --vt-c-main-blue: #506bca;
  --vt-c-main-charcoal: #353844;
  --vt-c-main-tan: #d2ad81;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-snow);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
} */

@theme {
  --color-snow: var(--vt-c-snow);
  --color-black: var(--vt-c-black);
  --color-dark-blue: var(--vt-c-dark-blue);
  --color-main-blue: var(--vt-c-main-blue);
  --color-main-charcoal: var(--vt-c-main-charcoal);
  --color-main-tan: var(--vt-c-main-tan);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
